#Assignement -Data Structure

Que1) What are data structures, and why are they important?
- Data stuctures are specialized formats for organizing , storing and accessing collections of data. They provide efficient ways to manage information based on itscharacteristics and intended use .
- why it important
  - They help  in writing efficient algorithms , managing large amount of data, and improving the perfromance of programs. Choosing the right data stucture can ssignificantly reduce time and space complexity.

Que 2) Explain the difference between mutable and immutable data types with examples?
- Mutable Data Types:-  
  - These can be changed after creation
  - Example in Python is  -> list ,dict,set

In [1]:
#Example of Mutable Data Type
my_list=[1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list[0]=10

In [4]:
print(my_list)

[10, 2, 3]

- Immutable Data Type :-  
  - These cannot be changed after creation.
  -Example, in Python-> int ,float,bool,str,tuple

In [5]:
#Example of immutable Data type
my_string="hello"

In [6]:
my_string

'hello'

In [7]:
my_string[0]='H'

TypeError: 'str' object does not support item assignment

Que 3) What are the main differences between lists and tuples in Python?
- List
  - A list is a collection data types that is mutable, means it can be cahnged after the list is created
  - List are defined using Sqaure Brackets:
        list1=[10,20,30]
  - In list elements a=can be added , removed or changed.
  - List support many built-in methods like append(),remove(),sort().etc.
- Tuples
  - A tuple is acollection data types that is immutable,meaning once it is created , its elements cannot be modified.
  - Tuple are defined using parenthesis:
         tuple1=(10,20,30)
  -In tuples elements cannot be added ,removed or changed once defined.
  - Tuples support only two method ,count() and index().

Que 4) Describe how dictionaries store data?
- Unordered collection :Elements are not stored in a specific order.
- Unique Key -value pairs: Each key acts a unique identifier for retrieving an associated value
- Flexible data : keys and values can be of various data types (strings, number ,list, and even other dictionaries)
- Operation
  - Add: Use direct assignment(dictionary_name[key]=value) or .update() method.
  - Access: Retrieve values their keys(value=dictionary_name[key]).
  - Remove: Use del dictionary_name[key],.pop(key), or .popitem().
  -Check memembership :Use the in operator (key in dictionary_name).

QUE 5) Why might you use a set instead of a list in Python?
- A set is a built in data types in python that stores unordered , unique elements , while both list and sets can store multiple items there are important reasons to choose a set over a list in specific situations.
  - Sets do not allow duplicates elements , so they are perfect when you need only unique items.
  - Sets are optimized for fast lookup using hashing , while list require a linear search
  - Sets support mathematical operations like union , intersection, difference,etc which are not directly supported by list.
  - when working with larger datasets and uou don't need ordering or duplicates , sets are more memory and time-efficient .

Que 6) What is a string in Python, and how is it different from a list?
- A string in python is a squenece of charcters enclosed in sing('), double ("), or triple quotes(''' or """)
- ex:-
          name="Bhargav"
  - String is immutable it cannot be changed after creation
  - Indexed:- each character has a postion.
  -Iterable:- you can loop through them.

Que 7) How do tuples ensure data integrity in Python?
- A tuple in python is an immutable sequence of values . This immutability is the key feature that hepls ensure data intergity.
- Data Integrity
  It means that data remisn accurate, consistent , unchanged during its lifetime -especially when used in sensitive or critical parts of a program.
-Tuples help maintain Data Integrity
  - Once a tuples is created , it cannot be modified
  - Ideal for storing constant configuration , coordinated , coordinates , or any data that shouldn't change.
  - Since tuples are immutable , they can be used as keys in dictionaires, where mutability could break consistency .

Que 8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stored key-value pairs and allows for fast data access using a hash function.
- A key is passed through a hash function , which conerts it into an index.
- This indec tells the program where to store or finds the corresponding value in momory
- If two keys hash to the same index ,python uses techniques like open addressing to resolve it .

Que 9) Can lists contain different data types in Python?
- Yes list can contain different data types in python , list are hetrogeneous , meaning they can store elements of different data type in the same list .

In [8]:
my_list=[10,"bhargav",3.14,True,[1,2],{"key":"value"}]
print(my_list)

[10, 'bhargav', 3.14, True, [1, 2], {'key': 'value'}]

Que 10) Explain why strings are immutable in Python?
- Stirng are immutable , which means once a sting is created ,it cannot be changed. Any operation that appears to modify a string actually creates a new string
  - String are used cery frequently
  - If string were mutable , every slight cahnge would need careful memory management.
  -Immutable string can be interned , saving memory and improving speed .
  - If string were mutable , things like dictionay keys and set elemetns (which use hashes )could chnage after being stored , breaking the hash struture.
  - immutability ensures that hash values stay consistent .

Que 11) What advantages do dictionaries offer over lists for certain tasks?
-  Dictionaries (dict) and lists (list) are both powerful data structures in Python, but dictionaries are better suited for certain tasks, especially when dealing with key-value relationships.
  - Dictionaries use a hash table internally.
  - Accessing a value by key is much faster than searching through a list.
  - Dictionaries store data as key-value pairs, making data more organized and readable.

Que 12 )  Describe a scenario where using a tuple would be preferable over a list?
- A tuple is preferable over a list in python when you need to store a collection of values thast should not change-that is , the data is immutable.
  - Stroring Coordinates
    -  Imagine you're developing a program that works with geographical coordinates (latitude,lontitude). These coordinates shouldn't changde once assigned .

In [9]:
# example
location=(19.0760,72.8777)

Que 13) How do sets handle duplicate values in Python?
- In sets automatically remove duplicate values. A set is an unorderd collection of unique elements, so if you add suplicates , only one copy is kept

In [11]:
#example
my_set={1,2,3,4,5,3,3,3}

In [12]:
print(my_set)

{1, 2, 3, 4, 5}

Que 14 ) How does the “in” keyword work differently for lists and dictionaries?
-  The "in" keywords is used in python to check for membership-wheather a value exists in a collection. However , its behviour differas slightly between list and dictionaries
- For Lists:

In [14]:
my_list = [1, 2, 3, 4]
print(2 in my_list)
print(5 in my_list)

True
False

In [ ]:
# For dictionaries:

In [15]:
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)
print(1 in my_dict)

True
False

Que 15 ) Can you modify the elements of a tuple? Explain why or why not ?
- No, ypu cannot modify the elements of tuple in python
  -Tuples are immutable
    - Once a tuple is created , its elements cannot be changed , added or removed.

Que 16 ) What is a nested dictionary, and give an example of its use case?
- A nested dictinory inside another dictipnary. In python , it allows you to store hierarchical or stuctured data.

In [ ]:
# syntax
outer_dict = {
    key1: {
        inner_key1: value1,
        inner_key2: value2
    },
    key2: {
        inner_key1: value3,
        inner_key2: value4
    }
}

In [16]:
#example
students = {
    "101": {"name": "Bhargav", "age": 20, "marks": 85},
    "102": {"name": "Sachin", "age": 21, "marks": 90}
}

In [17]:
print(students["101"]["name"])

Bhargav

Que 17 ) Describe the time complexity of accessing elements in a dictionary?
- Average Case
    - Time complexity :O(1) -Constant Time
    - Dictionaires in python use a hash table internally . Keys are hased to compute an index , allowing for direct access to the value.
- Worst Case:
     - Time Complexity O(n) -Linear Time
     - in rare cases , when there are hash collisions hash to the same index, python resolves them using chaining, if many collisions occur , lookup might degrade to linear time .

In [20]:
# Example .
my_dict={'a':1,'b':2,'c':3}
print(my_dict['b'])

2

Que 18 )  In what situations are lists preferred over dictionaries?
- While both lists and dictionaries are used to store collections of data, lists are ideal in specific cases where ordering and index-based access are more important than key-based lookups.
  - if the order of elemetns is important (like time series in a process ), use a list
  - it just need to store and access simple values.
  - if you need to access elements by position or loop in oreder.
  - list allow duplicates elements , unlike dictionary keys
  - When you dataset is simple and doesn't require labelling

Que 19 )  Why are dictionaries considered unordered, and how does that affect data retrieval?
- In older versions of Python (< 3.7), dictionaries were considered unordered because:
  - No guarantee was given that items would be returned in the order they were inserted.
  - Internally, dictionaries used hash tables that did not preserve insertion order.

Que 20) Explain the difference between a list and a dictionary in terms of data retrieval.
- List
  - Think of a list a row of boxes :each has a postions (0,1,2....) and stores on item.
  - Accessing a list element is like saying :"Give me the 2nd box"
-Dictionary:
  - A dcitionary is like  a labled cabinet:each drawer (key)  has a label and inside is the data (values)
  - Accessing a dictionary element is like sating:"Open the drawer labled 'username'.

# Practical Questions

Que 1 ) Write a code to create a string with your name and print it

In [21]:
name="Bhargav Ghodichor"
print("my name is:",name)

my name is: Bhargav Ghodichor

Que 2 ) Write a code to find the length of the string "Hello World"?

In [22]:
text="Hello World"
length=len(text)
print("Length os the string is:",length)

Length os the string is: 11

Que 3) Write a code to slice the first 3 characters from the string "Python Programming"?

In [24]:
text="python programming"
sliced_text=text[:3]
print("First 3 characters:",sliced_text)

First 3 characters: pyt

Que 4) Write a code to convert the string "hello" to uppercase

In [25]:
text="hello"
uppercase_text=text.upper()
print(uppercase_text)

HELLO

Que 5 ) Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [27]:
text="i like apple"
new_text=text.replace("apple","orange")
print(new_text)

i like orange

Que 6) Write a code to create a list with numbers 1 to 5 and print it.

In [28]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

Que 7 ) Write a code to append the number 10 to the list [1, 2, 3, 4].

In [30]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Que 8)  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [31]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Que 9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [33]:
letter=['a','b','c','d']
second_element=letter[1]
print("Second element:",letter)

Second element: ['a', 'b', 'c', 'd']

Que 10 ) Write a code to reverse the list [10, 20, 30, 40, 50].

In [34]:
number=[10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

Que 11 )  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [35]:
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

Que 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [37]:
colors=('red', 'green', 'blue', 'yellow')
second_last=colors[-2]
print("Second to last element:",colors)

Second to last element: ('red', 'green', 'blue', 'yellow')

Que 13 )  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [38]:
numers=(10,20,5,15)
min_numbers=min(numers)
print("Minimum number:",min_numbers)

Minimum number: 5

Que 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [39]:
animals=('dog', 'cat', 'rabbit')
index_of_cat=animals.index('cat')
print("Index of cat:",index_of_cat)

Index of cat: 1

Que 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [40]:
fruits=("apple","banana","mango")
is_kiwi_present="kiwi" in fruits
print("Is 'kiwi' in the tuple?",is_kiwi_present)

Is 'kiwi' in the tuple? False

Que 16 ) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [44]:
set_element={'a','b','c'}
print(set_element)

{'c', 'b', 'a'}

Que 17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [46]:
my_set1={1,2,3,4,5}
my_set1.clear()
print(my_set1)

set()

Que 18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [47]:
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Que 19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [48]:
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Que 20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [49]:
set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
print("Intersection:",intersection_set)

Intersection: {2, 3}

Que 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [50]:
person={
    "name":"Bhargav",
    "age":21,
    "city":"Nagpur"
}
print(person)

{'name': 'Bhargav', 'age': 21, 'city': 'Nagpur'}

Que 22 ) . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [51]:
person={'name': 'John','age':25}
person['country']='USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Que 23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [52]:
person={'name':'Alice','age':30}
name_value=person['name']
print("name:",name_value)

name: Alice

Que 24)  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [53]:
person={'name':'Bob','age':22,'city':'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Que25 )  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [54]:
person={'name':'Alice','city':'Paris'}
if 'city' in person:
  print("Key 'city' exist in the dictionary.")
else:
  print("Key 'city' does not exist in the dictionary." )

Key 'city' exist in the dictionary.

Que 26 )  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [55]:
my_list=[1,2,3,4,5]
my_tuple=('apple','banana','cherry')
my_dictionary={'name':'Alice','age':30,'city':'Paris'}
print("List:",my_list)
print("Tuples:",my_tuple)
print("Dictionary:",my_dictionary)

List: [1, 2, 3, 4, 5]
Tuples: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

Que 27 ) . Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [58]:
random_numbers=random.sample(range(1,101),5)
random_numbers.sort()
print("sorted random numbers:",random_numbers)

sorted random numbers: [1, 35, 48, 71, 80]

Que 28)  Write a code to create a list with strings and print the element at the third index.

In [59]:
string_list=["apple","banana","cherry","date","elderberry"]
print("Elements at index 3:",string_list[3])

Elements at index 3: date

Que 29) Write a code to combine two dictionaries into one and print the result.

In [62]:
dict1={name:'Bhargav','age':22}
dict2={'city':'nagpur','country':'India'}
combined_dict={**dict1,**dict2}
print("Combined Dictionary:",combined_dict)

Combined Dictionary: {'Bhargav Ghodichor': 'Bhargav', 'age': 22, 'city': 'nagpur', 'country': 'India'}

Que 30 )  Write a code to convert a list of strings into a set.

In [66]:
string_list=["apple","banana","apple","cherry"]
my_string_set=(string_list)
print("Set:",my_string_set)

Set: ['apple', 'banana', 'apple', 'cherry']